div {
    background-color: beige;
    color: rgb(112, 166, 104)
}
h1 {
    color: aliceblue;
    background-color: aqua;
}
.heading {
    color: blueviolet;
    background-color: azure;
    width: 50%;
    background: s;
}
body {
    background-color: sandybrown;
}